<input type="text" #box>
<button (click)="updTitleEv.emit(box.value)">Update Title from child</button>
<p>Basic test works!</p>
<p appBoldRed>Two way binding</p>
<input type="text" [(ngModel)]="firstnam" [placeholder]="firstnam">
{{firstnam}}
<div *ngIf="disp">
    <h1>Pipes</h1>
    <h2>{{"welcome text" | uppercase}}</h2>
    <p>Custome capitalCase</p>
    <h2>{{"welcome text" | captialCase}}</h2>
    <p>Array Case</p>
    <h2 *ngFor="let nm of name">{{ nm | captialCase}}</h2>
    <h2>{{"welcome text" | lowercase}}</h2>
    <div>{{"welcome text" | slice:2:12}}</div>
    <div>{{dateNw | date:'short'}}</div>
    <div>{{dateNw | date:'fullDate'}}</div>
</div>
<div><button (click)="toggle()">Toggle Display</button></div>
<div *ngIf="dispShow; then blk1 else blk2"></div>
<ng-template #blk1> Show Block 1</ng-template>
<ng-template #blk2> Show Block 2</ng-template>
<div [ngSwitch]="color" [style.color]="color">
    <div *ngSwitchCase="'red'">Show Red color</div>
    <div *ngSwitchCase="'blue'">Show Blue color</div>
    <div *ngSwitchDefault>No color selected</div>
</div>
<div>
    <input type="text" #boxinput (keyup)="getInput(boxinput.value)" placeholder="Enter name">
    {{displayBox}}
</div>
<h4>Data fetch from parent: {{prntData}}</h4>
<div><button (click)="updateData()">Click here</button></div>   
<a routerLink="test1">test1</a> | <a routerLink="test2">test2</a>
<router-outlet ></router-outlet>

