<form #basicForm="ngForm" (submit)="getData(basicForm.value)">
    <div><input type="text" #name="ngModel" required minlength="6" pattern="[a-zA-Z]+$" ngModel name="firstname" placeholder="Enter name" value=""></div>
    <span style="font-size:12px; color:red;" *ngIf="name.invalid && name.touched">Please Enter name with 6 character</span>
    <div><input type="text" #email="ngModel" required email ngModel name="email" placeholder="Enter email" value=""></div>
    <span style="font-size:12px; color:red" *ngIf="email.invalid && email.touched">Please Enter vaild name</span>
    <div><input type="number" #number="ngModel" required pattern="[0-9]+$" ngModel name="number" placeholder="Enter number" value=""></div>
    <span style="font-size:12px; color:red" *ngIf="number.invalid && number.touched">Please Enter only number</span>
    <div><button [disabled]="basicForm.invalid">Register</button></div>
</form>
{{userData.firstname}} {{userData.email}}
